<div class="w3l_banner_nav_right">
<!-- about -->
    <div class="privacy about">
        <h3>About Us</h3>
        <p class="animi">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias 
            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui 
            officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem 
            rerum facilis est et expedita distinctio.</p>

        <div class="row agile_about_grids">
            <div class="col-lg-6 agile_about_grid_right">
                <div>
                    <img src="../../assets/31.jpg" alt=" " class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-6 agile_about_grid_left">
                <ol>
                    <li>laborum et dolorum fuga</li>
                    <li>corrupti quos dolores et quas</li>
                    <li>est et expedita distinctio</li>
                    <li>deleniti atque corrupti quos</li>
                    <li>excepturi sint occaecati cupiditate</li>
                    <li>accusamus et iusto odio</li>
                </ol>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
<!-- //about -->
</div>
<div class="clearfix"></div>

<!-- team -->
<div class="team">
		<div class="container">
			<h3>Meet Our Amazing Team</h3>
			<div class="row agileits_team_grids">
				<div class="col-lg-3 agileits_team_grid">
					<img src="../../assets/32.jpg" alt=" " class="img-responsive" />
					<h4>Martin Paul</h4>
					<p>Manager</p>
					<ul class="agileits_social_icons agileits_social_icons_team">
						<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-lg-3 agileits_team_grid">
					<img src="../../assets/33.jpg" alt=" " class="img-responsive" />
					<h4>Michael Rick</h4>
					<p>Supervisor</p>
					<ul class="agileits_social_icons agileits_social_icons_team">
						<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-lg-3 agileits_team_grid">
					<img src="../../assets/34.jpg" alt=" " class="img-responsive" />
					<h4>Thomas Carl</h4>
					<p>Supervisor</p>
					<ul class="agileits_social_icons agileits_social_icons_team">
						<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-lg-3 agileits_team_grid">
					<img src="../../assets/35.jpg" alt=" " class="img-responsive" />
					<h4>Laura Lee</h4>
					<p>CEO</p>
					<ul class="agileits_social_icons agileits_social_icons_team">
						<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //team -->
<!-- testimonials -->
<div class="testimonials">
    <div class="container">
        <h3>Testimonials</h3>
        <div class="w3_testimonials_grids">
            <!-- <div class="wmuSlider example1 animated wow slideInUp"> -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner wmuSliderWrapper">
                    <div class="carousel-item active banner-wrap">
                        <div class="row">
                            <div class="col-lg-6 w3_testimonials_grid">
                                <p><i class="fa fa-quote-right" aria-hidden="true"></i>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                                    voluptatibus maiores alias consequatur aut perferendis doloribus asperiores 
                                    repellat.</p>
                                <h4>Andrew Smith <span>Customer</span></h4>
                            </div>
                            <div class="col-lg-6 w3_testimonials_grid">
                                <p><i class="fa fa-quote-right" aria-hidden="true"></i>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                                    voluptatibus maiores alias consequatur aut perferendis doloribus asperiores 
                                    repellat.</p>
                                <h4>Thomson Richard <span>Customer</span></h4>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="carousel-item banner-wrap">
                        <div class="row">
                            <div class="col-lg-6 w3_testimonials_grid">
                                <p><i class="fa fa-quote-right" aria-hidden="true"></i>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                                    voluptatibus maiores alias consequatur aut perferendis doloribus asperiores 
                                    repellat.</p>
                                <h4>Crisp Kale <span>Customer</span></h4>
                            </div>
                            <div class="col-lg-6 w3_testimonials_grid">
                                <p><i class="fa fa-quote-right" aria-hidden="true"></i>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                                    voluptatibus maiores alias consequatur aut perferendis doloribus asperiores 
                                    repellat.</p>
                                <h4>John Paul <span>Customer</span></h4>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="carousel-item banner-wrap">
                        <div class="row">
                            <div class="col-lg-6 w3_testimonials_grid">
                                <p><i class="fa fa-quote-right" aria-hidden="true"></i>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                                    voluptatibus maiores alias consequatur aut perferendis doloribus asperiores 
                                    repellat.</p>
                                <h4>Rosy Carl <span>Customer</span></h4>
                            </div>
                            <div class="col-lg-6 w3_testimonials_grid">
                                <p><i class="fa fa-quote-right" aria-hidden="true"></i>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                                    voluptatibus maiores alias consequatur aut perferendis doloribus asperiores 
                                    repellat.</p>
                                <h4>Rockson Doe <span>Customer</span></h4>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //testimonials -->