
.form-module input[type="text"], .form-module input[type="password"], .form-module input[type="email"], .form-module input[type="submit"] {
    margin: 20px 0 0;
}

.form-module .text-danger {
    font-size: 14px;
    padding-left: 8px;
}

.form-module input[disabled] {
    background: #212529;
}