
.agileinfo_mail_grid_right input[type="text"]:nth-child(3) {
    margin: 1em 0 0;
}

form .text-danger {
    font-size: 14px;
    padding-left: 6px;
}

form input[disabled] {
    background: #212529;
}

.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
    width: 45%;
}

.show {
    opacity: 1;
}