<div class="w3l_banner_nav_right">
        <div class="w3l_banner_nav_right_banner7">
            <h3>Best Deals For New Products<span class="blink_me"></span></h3>
        </div>

        <div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub">
            <h3>Beverages</h3>
            <div class="w3ls_w3l_banner_nav_right_grid1">
                <h6>soft drinks</h6>
                <div class="row">
                    <div class="col-lg-3 w3ls_w3l_banner_left" *ngFor="let product of softItems">
                        <div class="hover14 column">
                            <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                                <div *ngIf="product.payload.doc.data().tagFile=='offer.png'" class="agile_top_brand_left_grid_pos">
                                    <img src="../../assets/{{product.payload.doc.data().tagFile}}" alt=" " class="img-responsive" />
                                </div>
                                <div *ngIf="product.payload.doc.data().tagFile=='tag.png'" class="tag">
                                    <img src="../../assets/{{product.payload.doc.data().tagFile}}" alt=" " class="img-responsive" />
                                </div>
                                <div class="agile_top_brand_left_grid1">
                                    <figure>
                                        <div class="snipcart-item block">
                                            <div class="snipcart-thumb">
                                                <a routerLink="/detail/{{product.payload.doc.data().id}}"><img src="../../assets/{{product.payload.doc.data().imgFile}}" alt=" " class="img-responsive" /></a>
                                                <p>{{product.payload.doc.data().name}}</p>
                                                <h4>${{product.payload.doc.data().discPrice}}.00 <span>${{product.payload.doc.data().price}}.00</span></h4>
                                            </div>
                                            <div class="snipcart-details">
                                                <form action="#" method="post">
                                                    <fieldset>
                                                        <input type="hidden" name="id" value="_cart" />
                                                        <input type="submit" name="submit" value="Add to cart" class="button" (click)="addToCart(product.payload.doc.data())" />
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>

            <div class="w3ls_w3l_banner_nav_right_grid1">
                <h6>Juices</h6>
                <div class="row">
                    <div class="col-lg-3 w3ls_w3l_banner_left" *ngFor="let product of juiceItems">
                        <div class="hover14 column">
                            <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                                <div *ngIf="product.payload.doc.data().tagFile=='offer.png'" class="agile_top_brand_left_grid_pos">
                                    <img src="../../assets/{{product.payload.doc.data().tagFile}}" alt=" " class="img-responsive" />
                                </div>
                                <div *ngIf="product.payload.doc.data().tagFile=='tag.png'" class="tag">
                                    <img src="../../assets/{{product.payload.doc.data().tagFile}}" alt=" " class="img-responsive" />
                                </div>
                                <div class="agile_top_brand_left_grid1">
                                    <figure>
                                        <div class="snipcart-item block">
                                            <div class="snipcart-thumb">
                                                <a routerLink="/detail/{{product.payload.doc.data().id}}"><img src="../../assets/{{product.payload.doc.data().imgFile}}" alt=" " class="img-responsive" /></a>
                                                <p>{{product.payload.doc.data().name}}</p>
                                                <h4>${{product.payload.doc.data().discPrice}}.00 <span>${{product.payload.doc.data().price}}.00</span></h4>
                                            </div>
                                            <div class="snipcart-details">
                                                <form action="#" method="post">
                                                    <fieldset>
                                                        <input type="hidden" name="id" value="_cart" />
                                                        <input type="submit" name="submit" value="Add to cart" class="button" (click)="addToCart(product.payload.doc.data())" />
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="w3ls_w3l_banner_nav_right_grid1">
                <h6>Energy Drinks</h6>
                <div class="row">
                    <div class="col-lg-3 w3ls_w3l_banner_left" *ngFor="let product of energyItems">
                        <div class="hover14 column">
                            <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                                <div *ngIf="product.payload.doc.data().tagFile=='offer.png'" class="agile_top_brand_left_grid_pos">
                                    <img src="../../assets/{{product.payload.doc.data().tagFile}}" alt=" " class="img-responsive" />
                                </div>
                                <div *ngIf="product.payload.doc.data().tagFile=='tag.png'" class="tag">
                                    <img src="../../assets/{{product.payload.doc.data().tagFile}}" alt=" " class="img-responsive" />
                                </div>
                                <div class="agile_top_brand_left_grid1">
                                    <figure>
                                        <div class="snipcart-item block">
                                            <div class="snipcart-thumb">
                                                <a routerLink="/detail/{{product.payload.doc.data().id}}"><img src="../../assets/{{product.payload.doc.data().imgFile}}" alt=" " class="img-responsive" /></a>
                                                <p>{{product.payload.doc.data().name}}</p>
                                                <h4>${{product.payload.doc.data().discPrice}}.00 <span>${{product.payload.doc.data().price}}.00</span></h4>
                                            </div>
                                            <div class="snipcart-details">
                                                <form action="#" method="post">
                                                    <fieldset>
                                                        <input type="hidden" name="id" value="_cart" />
                                                        <input type="submit" name="submit" value="Add to cart" class="button" (click)="addToCart(product.payload.doc.data())" />
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>