<div class="w3l_banner_nav_right">
    <section class="slider">
        <div  id="carouselExampleIndicators" class="carousel slide flexslider" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <ul class="carousel-inner slides">
                <li class="carousel-item active">
                    <div class="w3l_banner_nav_right_banner">
                        <h3>Make your <span>food</span> with Spicy.</h3>
                        <div class="more">
                            <a routerLink="/branded" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="w3l_banner_nav_right_banner1">
                        <h3>Make your <span>food</span> with Spicy.</h3>
                        <div class="more">
                            <a routerLink="/branded" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="w3l_banner_nav_right_banner2">
                        <h3>upto <i>50%</i> off.</h3>
                        <div class="more">
                            <a routerLink="/branded" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
<div class="clearfix"></div> 

<!-- banner -->
<div class="banner_bottom">
        <div class="wthree_banner_bottom_left_grid_sub">
        </div>
        <div class="row wthree_banner_bottom_left_grid_sub1">
            <div class="col-lg-4 wthree_banner_bottom_left">
                <div class="wthree_banner_bottom_left_grid">
                    <img src="../../assets/4.jpg" alt=" " class="img-responsive" />
                    <div class="wthree_banner_bottom_left_grid_pos">
                        <h4>Discount Offer <span>25%</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wthree_banner_bottom_left">
                <div class="wthree_banner_bottom_left_grid">
                    <img src="../../assets/5.jpg" alt=" " class="img-responsive" />
                    <div class="wthree_banner_btm_pos">
                        <h3>introducing <span>best store</span> for <i>groceries</i></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wthree_banner_bottom_left">
                <div class="wthree_banner_bottom_left_grid">
                    <img src="../../assets/6.jpg" alt=" " class="img-responsive" />
                    <div class="wthree_banner_btm_pos1">
                        <h3>Save <span>Upto</span> $10</h3>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
</div>

<!-- top-brands -->
<div class="top-brands">
    <div class="container-fluid">
        <h3>Hot Offers</h3>

        <div class="row agile_top_brands_grids">
                <div class="col-lg-3 top_brand_left" *ngFor="let product of hotItems">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div *ngIf="product.payload.doc.data().tagFile=='offer.png'" class="agile_top_brand_left_grid_pos">
                                <img src="../../assets/{{product.payload.doc.data().tagFile}}" alt=" " class="img-responsive" />
                            </div>
                            <div *ngIf="product.payload.doc.data().tagFile=='tag.png'" class="tag">
                                <img src="../../assets/{{product.payload.doc.data().tagFile}}" alt=" " class="img-responsive" />
                            </div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block" >
                                        <div class="snipcart-thumb">
                                            <a routerLink="/detail/{{product.payload.doc.data().id}}"><img title=" " alt=" " src="../../assets/{{product.payload.doc.data().imgFile}}"/></a>		
                                            <p>{{product.payload.doc.data().name}}</p>
                                            <h4>${{product.payload.doc.data().discPrice}} <span>${{product.payload.doc.data().price}}.00</span></h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="id" value="_cart" />
                                                    <input type="submit" name="submit" value="Add to cart" class="button" (click)="addToCart(product.payload.doc.data())" />
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //top-brands -->
<!-- fresh-vegetables -->
<div class="fresh-vegetables">
    <div class="container-fluid">
        <h3>Top Products</h3>
        <div class="row w3l_fresh_vegetables_grids">
            <div class="col-lg-3 w3l_fresh_vegetables_grid w3l_fresh_vegetables_grid_left">
                <div class="w3l_fresh_vegetables_grid2">
                    <ul>
                        <li><i class="fa fa-check" aria-hidden="true"></i><a routerLink="/branded">All Brands</a></li>
                        <li><i class="fa fa-check" aria-hidden="true"></i><a routerLink="/fruit">Vegetables</a></li>
                        <li><i class="fa fa-check" aria-hidden="true"></i><a routerLink="/fruit">Fruits</a></li>
                        <li><i class="fa fa-check" aria-hidden="true"></i><a routerLink="/beverage">Juices</a></li>
                        <li><i class="fa fa-check" aria-hidden="true"></i><a routerLink="/pet">Pet Food</a></li>
                        <li><i class="fa fa-check" aria-hidden="true"></i><a routerLink="/bread">Bread & Bakery</a></li>
                        <li><i class="fa fa-check" aria-hidden="true"></i><a routerLink="/household">Cleaning</a></li>
                        <li><i class="fa fa-check" aria-hidden="true"></i><a routerLink="/branded">Spices</a></li>
                        <li><i class="fa fa-check" aria-hidden="true"></i><a routerLink="/branded">Dry Fruits</a></li>
                        <li><i class="fa fa-check" aria-hidden="true"></i><a routerLink="/branded">Dairy Products</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 w3l_fresh_vegetables_grid_right">
            <div class="row">
                <div class="col-lg-4 w3l_fresh_vegetables_grid">
                    <div class="w3l_fresh_vegetables_grid1">
                        <img src="../../assets/8.jpg" alt=" " class="img-responsive" />
                    </div>
                </div>
                <div class="col-lg-4 w3l_fresh_vegetables_grid">
                    <div class="w3l_fresh_vegetables_grid1">
                        <div class="w3l_fresh_vegetables_grid1_rel">
                            <img src="../../assets/7.jpg" alt=" " class="img-responsive" />
                            <div class="w3l_fresh_vegetables_grid1_rel_pos">
                                <div class="more m1">
                                    <a routerLink="/branded" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3l_fresh_vegetables_grid1_bottom">
                        <img src="../../assets/10.jpg" alt=" " class="img-responsive" />
                        <div class="w3l_fresh_vegetables_grid1_bottom_pos">
                            <h5>Special Offers</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 w3l_fresh_vegetables_grid">
                    <div class="w3l_fresh_vegetables_grid1">
                        <img src="../../assets/9.jpg" alt=" " class="img-responsive" />
                    </div>
                    <div class="w3l_fresh_vegetables_grid1_bottom">
                        <img src="../../assets/11.jpg" alt=" " class="img-responsive" />
                    </div>
                </div>
                <div class="clearfix"> </div>
                <!-- <div class="agileinfo_move_text"> -->
                <div class="col-lg-12 agileinfo_move_text">
                    <div class="agileinfo_marquee">
                        <h4>get <span class="blink_me">25% off</span> on first order and also get gift voucher</h4>
                    </div>
                    <div class="agileinfo_breaking_news">
                        <span> </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div></div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //fresh-vegetables -->