<div class="w3l_banner_nav_right">
<!-- login -->
    <div class="w3_login">
        <h3>Sign Up</h3>
        <div class="w3_login_module">
            <div class="module form-module">
                <div class="form">
                    <h2>Create an account</h2>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <input type="text" formControlName="username" placeholder="Username" (keyup)="searchUser($event)">
                        <div class="text-danger" *ngIf="registerForm.get('username').invalid">
                            <div class="text-danger" *ngIf="registerForm.get('username').touched && registerForm.get('username').hasError('required')">
                                Username is Required!
                            </div>
                            <div class="text-danger" *ngIf="registerForm.get('username').hasError('pattern')">
                                Invalid Username!
                            </div>
                            <div class="text-danger" *ngIf="registerForm.get('username').hasError('minlength') && !registerForm.get('username').hasError('pattern')">
                                Min Length should be of 4!
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="!registerForm.get('username').invalid || registerForm.get('username').hasError('available')">
                            <div class="text-danger" *ngIf="isAvailable">
                                Username is Available!
                            </div>
                            <div class="text-danger" *ngIf="!isAvailable">
                                Username already taken!
                            </div>
                        </div>
                        
                        <input type="password" formControlName="password" placeholder="Password">
                        <div class="text-danger" *ngIf="registerForm.get('password').invalid">
                            <div class="text-danger" *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('required')">
                                    Password is Required!
                            </div>
                            <div class="text-danger" *ngIf="registerForm.get('password').hasError('minlength')">
                                Min Length should be of 6!
                            </div>
                        </div>
                        
                        <input type="email" formControlName="email" placeholder="Email Address">
                        <div class="text-danger" *ngIf="registerForm.get('email').invalid">
                            <div class="text-danger" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">
                                Email is Required!
                            </div>
                            <div class="text-danger" *ngIf="registerForm.get('email').hasError('pattern')">
                                Invalid Email!
                            </div>
                        </div>
                        
                        <input type="text" formControlName="phone" placeholder="Phone Number">
                        <div class="text-danger" *ngIf="registerForm.get('phone').invalid">
                            <div class="text-danger" *ngIf="registerForm.get('phone').touched && registerForm.get('phone').hasError('required')">
                                Phone is Required!
                            </div>
                            <div class="text-danger" *ngIf="registerForm.get('phone').hasError('pattern')">
                                Invalid Phone!
                            </div>
                            <div class="text-danger" *ngIf="registerForm.get('phone').hasError('minlength') && !registerForm.get('phone').hasError('pattern')">
                                Min Length should be of 10!
                            </div>
                            <div class="text-danger" *ngIf="registerForm.get('phone').hasError('maxlength') && !registerForm.get('phone').hasError('pattern')">
                                Max Length should be 10!
                            </div>
                        </div>
                        
                        <input [disabled]="!registerForm.valid" type="submit" value="Register"  data-toggle="modal" data-target="#exampleModal">
                    </form>
                </div>
                <app-dialog title="Sign Up"></app-dialog>
            </div>
        </div>
    </div>
<!-- //login -->
</div>

<div class="clearfix"></div>

<!-- newsletter-top-serv-btm -->
<div class="newsletter-top-serv-btm">
    <div class="container row mx-auto">
        <div class="col-lg-4 wthree_news_top_serv_btm_grid">
            <div class="wthree_news_top_serv_btm_grid_icon">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <h3>Nam libero tempore</h3>
            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus 
                saepe eveniet ut et voluptates repudiandae sint et.</p>
        </div>
        <div class="col-lg-4 wthree_news_top_serv_btm_grid">
            <div class="wthree_news_top_serv_btm_grid_icon">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </div>
            <h3>officiis debitis aut rerum</h3>
            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus 
                saepe eveniet ut et voluptates repudiandae sint et.</p>
        </div>
        <div class="col-lg-4 wthree_news_top_serv_btm_grid">
            <div class="wthree_news_top_serv_btm_grid_icon">
                <i class="fa fa-truck" aria-hidden="true"></i>
            </div>
            <h3>eveniet ut et voluptates</h3>
            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus 
                saepe eveniet ut et voluptates repudiandae sint et.</p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //newsletter-top-serv-btm -->